@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturCook:wght@700&display=swap');
body{
    background-color: rgb(243, 251, 255);
}
.container{
border: 1px solid rgb(56, 56, 56);
background-color: white;
}
#footer{
background-color: #f8f9fa;
}
.form-control{
border: 1px solid rgb(0, 0, 0);
margin: 1rem;
padding: 0.5rem;
}
.col-md-8{
    justify-content: center;
    align-items: center;
}
#login{
    align-items: center;
    justify-content: center;
}
